extends layout

block content
    form(method="post" action="/create")
        label(for="email") Email: 
        input(type="text" name="email" placeholder="Email")
        br
        label(for="username") Username: 
        input(type="text" name="username" placeholder="Username")
        br
        label(for="password") Password: 
        input(type="password", name="password" placeholder="Password")
        br
        label(for="confirmPassword") Confirm Password: 
        input(type="password", name="confirmPassword" placeholder="Confirm Password")
        br
        label(for="age") Age: 
        input(type="number" name="age" placeholder="18")
        br
        label What is your favorite color?
            br
            input(type="radio" id="Orange" name="favoriteColor" value="Orange")
            label(for="Orange") Orange
            input(type="radio" id="Purple" name="favoriteColor" value="Purple")
            label(for="Purple") Purple
            input(type="radio" id="Cyan" name="favoriteColor" value="Cyan")
            label(for="Cyan") Cyan
            input(type="radio" id="OliveDrab" name="favoriteColor" value="Olive Drab")
            label(for="OliveDrab") Olive Drab
        br
        label Which video game is better?
            br
            input(type="radio" id="Halo" name="betterVideogame" value="Halo")
            label(for="Halo") Halo
            input(type="radio" id="COD" name="betterVideogame" value="call of Duty")
            label(for="COD") Call of Duty
            input(type="radio" id="Battlefield" name="betterVideogame" value="Battlefield")
            label(for="Battlefield") Battlefield
            input(type="radio" id="SuperMario" name="betterVideogame" value="Super Mario")
            label(for="SuperMario") Super Mario (Anything)
        br
        label Which do you prefer?
            br
            input(type="radio" id="HalfEmpty" name="preferredPhrase" value="Glass Half Empty")
            label(for="HalfEmpty") Glass Half Empty
            input(type="radio" id="HalfFull" name="preferredPhrase" value="Glass Half Full")
            label(for="HalfFull") Glass Half Full
            input(type="radio" id="NewDay" name="preferredPhrase" value="Tomorrow is a new day")
            label(for="NewDay") Tommorrow is a new day
            input(type="radio" id="Tired" name="preferredPhrase" value="I am tired")
            label(for="Tired") I am tired
        br
        input(type="submit" value="Create Account")