extends layout

block content
    form(method="post" action="/login")
        label(for="email") Email: 
        input(type="text" name="email" placeholder="Email")
        br
        label(for="username") Username: 
        input(type="text" name="username" placeholder="Username")
        br
        label(for="password") Password: 
        input(type="password", name="password" placeholder="Password")
        br
        label(for="confirmPassword") Confirm Password: 
        input(type="password", name="confirmPassword" placeholder="Confirm Password")
        br
        label(for="age") Age: 
        input(type="number" name="age" placeholder="18")
        br
        label(for="favoriteColor") What is your favorite color?
        input(type="radio" name="favoriteColor" value="Orange")
        input(type="radio" name="favoriteColor" value="Purple")
        input(type="radio" name="favoriteColor" value="Cyan")
        input(type="radio" name="favoriteColor" value="Olive Drab")
        br
        label(for="betterVideogame") Which video game is better?
        input(type="radio" name="betterVideogame" value="Halo")
        input(type="radio" name="betterVideogame" value="call of Dury")
        input(type="radio" name="betterVideogame" value="Battlefield")
        input(type="radio" name="betterVideogame" value="Super Mario")
        br
        label(for="perferredPhrase") Which do you prefer?
        input(type="radio" name="preferredPhrase" value="Glass Half Empty")
        input(type="radio" name="preferredPhrase" value="Glass Half Full")
        input(type="radio" name="preferredPhrase" value="Tomorrow is a new day")
        input(type="radio" name="preferredPhrase" value="I am tired")
        input(type="submit" value="Login")