extends layout

block content
    form(method="post" action="/create")
        div
            label(for="email") Email: 
                input(type="text" name="email" placeholder="Email" required)
        
        div
            label(for="username") Username: 
                input(type="text" name="username" placeholder="Username" required)

        div
            label(for="password") Password: 
                input(type="password", name="password" placeholder="Password" required)

        div
            label(for="confirmPassword") Confirm: 
                input(type="password", name="confirmPassword" placeholder="Confirm Password" required)
        
        div
            label(for="age") Age: 
                input(type="number" name="age" placeholder="18" required)
        
        div
            label What is your favorite color?
                label(for="Orange") Orange
                    input(type="radio" id="Orange" name="favoriteColor" value="Orange" required)
                label(for="Purple") Purple
                    input(type="radio" id="Purple" name="favoriteColor" value="Purple" required)
                label(for="Cyan") Cyan
                    input(type="radio" id="Cyan" name="favoriteColor" value="Cyan" required)
                label(for="OliveDrab") Olive Drab
                    input(type="radio" id="OliveDrab" name="favoriteColor" value="Olive Drab" required)
        
        div
            label Which video game is better?
                label(for="Halo") Halo
                    input(type="radio" id="Halo" name="betterVideogame" value="Halo" required)
                label(for="COD") Call of Duty
                    input(type="radio" id="COD" name="betterVideogame" value="call of Duty" required)
                label(for="Battlefield") Battlefield
                    input(type="radio" id="Battlefield" name="betterVideogame" value="Battlefield" required)
                label(for="SuperMario") Super Mario (Anything)
                    input(type="radio" id="SuperMario" name="betterVideogame" value="Super Mario" required)
        
        div
            label Which do you prefer?
                label(for="HalfEmpty") Glass Half Empty
                    input(type="radio" id="HalfEmpty" name="preferredPhrase" value="Glass Half Empty" required)
                label(for="HalfFull") Glass Half Full
                    input(type="radio" id="HalfFull" name="preferredPhrase" value="Glass Half Full" required)
                label(for="NewDay") Tommorrow is a new day
                    input(type="radio" id="NewDay" name="preferredPhrase" value="Tomorrow is a new day" required)
                label(for="Tired") I am tired
                    input(type="radio" id="Tired" name="preferredPhrase" value="I am tired" required)

        input(type="submit" value="Create Account")