extends layout

block content
    image(name='userPic' id='userPic' src=`https://api.adorable.io/avatars/face/${config.avatarEyes}/${config.avatarNose}/${config.avatarMouth}/${config.avatarColor}`)

    form(method="post" action="/create")
        div
            label(for="email") Email: 
                input(type="text" name="email" placeholder="Email" required)
        
        div
            label(for="username") Username: 
                input(type="text" name="username" placeholder="Username" required)

        div
            label(for="password") Password: 
                input(type="password", name="password" placeholder="Password" required)

        div
            label(for="confirmPassword") Confirm: 
                input(type="password", name="confirmPassword" placeholder="Confirm Password" required)
        
        div
            label(for="age") Age: 
                input(type="number" name="age" placeholder="18" required)
        
        div
            label What is your favorite color?
                label(for="Orange") Orange
                    input(type="radio" id="Orange" name="favoriteColor" value="Orange" required)
                label(for="Purple") Purple
                    input(type="radio" id="Purple" name="favoriteColor" value="Purple" required)
                label(for="Cyan") Cyan
                    input(type="radio" id="Cyan" name="favoriteColor" value="Cyan" required)
                label(for="OliveDrab") Olive Drab
                    input(type="radio" id="OliveDrab" name="favoriteColor" value="Olive Drab" required)
        
        div
            label Which video game is better?
                label(for="Halo") Halo
                    input(type="radio" id="Halo" name="betterVideogame" value="Halo" required)
                label(for="COD") Call of Duty
                    input(type="radio" id="COD" name="betterVideogame" value="Call of Duty" required)
                label(for="Battlefield") Battlefield
                    input(type="radio" id="Battlefield" name="betterVideogame" value="Battlefield" required)
                label(for="SuperMario") Super Mario (Anything)
                    input(type="radio" id="SuperMario" name="betterVideogame" value="Super Mario" required)
        
        div
            label Which do you prefer?
                label(for="HalfEmpty") Glass Half Empty
                    input(type="radio" id="HalfEmpty" name="preferredPhrase" value="Glass Half Empty" required)
                label(for="HalfFull") Glass Half Full
                    input(type="radio" id="HalfFull" name="preferredPhrase" value="Glass Half Full" required)
                label(for="NewDay") Tommorrow is a new day
                    input(type="radio" id="NewDay" name="preferredPhrase" value="Tomorrow is a new day" required)
                label(for="Tired") I am tired
                    input(type="radio" id="Tired" name="preferredPhrase" value="I am tired" required)

        div
            label Edit Profile Avatar
                label(for="EyeDropdown") Eyes:&nbsp;
                    select(name='EyeDropdown' id='EyeDropdown')
                        option(value='eyes1') Oval
                        option(value='eyes2') Saggy
                        option(value='eyes3') Close Hole
                        option(value='eyes4') Far Hole
                        option(value='eyes5') Happy Arcs
                        option(value='eyes6') Large Saggy
                        option(value='eyes7') Big Sad
                        option(value='eyes9') Angled Oval

                label(for="NoseDropdown") Nose:&nbsp;
                    select(name='NoseDropdown' id='NoseDropdown')
                        option(value='nose2') Slanted
                        option(value='nose3') Stout
                        option(value='nose4') High
                        option(value='nose5') Fat
                        option(value='nose6') Tall
                        option(value='nose7') Short
                        option(value='nose8') Lengthy
                        option(value='nose9') Large

                label(for="MouthDropdown") Mouth:&nbsp;
                    select(name='MouthDropdown' id='MouthDropdown')
                        option(value='mouth1') Straight Line
                        option(value='mouth3') Puckered Lips
                        option(value='mouth5') Open
                        option(value='mouth6') Rectangle
                        option(value='mouth7') Large Saggy Oval
                        option(value='mouth9') Medium Happy
                        option(value='mouth10') Sideways Mouth
                        option(value='mouth11') Large Happy

                label(for="AvatarColor") Color:&nbsp;
                    input(type="color" id="AvatarColor" name="AvatarColor" value=`#000000`)

        input(type="submit" value="Create Account")

    script(src='scripts/avatarUpdater.js')