doctype
html
    title #{title}
    link(rel="stylesheet" type="text/css" href="fonts/fonts.css")
    link(rel="stylesheet" type="text/css" href="styles/main.css")

body
    //- Create a unanimous navigation system that responds when you are logged in

    if config
        span=JSON.stringify(config)
        br
        br

    block content

    if lastVisited
        div(id="date") Last Visited: #{lastVisited}
    else
        div(id="date") Welcome! This is your first time visiting!

    script(src="scripts/main.js")