doctype
html
    title #{title}
    link(rel="stylesheet" type="text/css" href="fonts/fonts.css")
    link(rel="stylesheet" type="text/css" href="styles/main.css")

body
    //- Create a unanimous navigation system that responds when you are logged in
    header
        div(id="date")
            if lastVisited
                span Last Visited: #{lastVisited}
            else
                span You have cookies disabled! We can't show you the last time you visited!

        div(id="spacer")

        ul
            li
                a(href="/index") Home
                
            if config  && config.user && config.user.isAuthenticated
                //-User is logged in
                li
                    a(href="/logout") Log Out
                li
                    a(href="/edit") Edit Account
            else
                //- User is not logged in
                li
                    a(href="/login") Log In
                li
                    a(href="/create") Create Account

    //- if config
    //-     span=JSON.stringify(config)
    //-     br
    //-     br

    block content

    //-script(src="scripts/main.js")