extends layout

block content
    form(method="post" action="/login")
        div
            label(class="login" for="username") Username: 
                input(type="text" name="username" placeholder="Username" required)
        div
            label(class="login" for="password") Password: 
                input(type="password", name="password" placeholder="Password" required)
        input(type="submit" value="Login")